{% extends 'templates/dashboard/base.html' %}
<title>{% block pagetitle %}Setup | Edit User{%endblock%}</title>

{% block breadcrum %}
<a href="{% url 'dashboard:index' %}" class="item">Home <i class="bi bi-chevron-compact-right"></i></a>
<a href="{% url 'setup:index' %}" class="item">Setup <i class="bi bi-chevron-compact-right"></i></a>
<a href="" class="item">Edit User<i class="bi bi-chevron-compact-right"></i></a>
{%endblock%}

{% block content %}

<div class="row col-md-11 mx-auto">
    <section class="col-md-6 mx-auto">
        <div class="card-shadow">
            <div class="d-flex justify-content-between">
                <h6>USER</h6>
            </div>
            {% include 'setup/blocks/forms/form_user.html' %}
        </div>
    </section>
</div>
{%endblock%}