{% extends 'templates/accounts/base_template.html' %}
{% block pagetitle %}Login{% endblock %}

{% load static %}

{% block content %}
<div
    class="col-md-6 col-lg-3 card-shadow col-11  p-5 bg-white mx-auto h-100 mt-5 d-flex justify-content-center align-items-center">
    <section>
        <form class="form needs-validation" method="POST" novalidate>
            {% csrf_token %}
            <img class="mx-auto d-block" src="{% static 'images/site-logo.png' %}" alt="Site Logo" height="100">
            <h6 class="text text-center my-3 font-weight-normal">Reset password</h6>

            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
            </div>
            {% endfor %}

            <div class="form-group my-3">
                <input type="text" id="username" name="username" value="{{username}}" class="form-control py-2"
                    placeholder="Username" required autofocus>
                <div class="invalid-feedback">
                    Please enter your username.
                </div>
            </div>

            <div class="form-group d-flex justify-content-center my-3">
                <button class="btn btn-sm btn-primary" type="submit">Send me OTP</button>
            </div>
        </form>
    </section>
</div>
<div class="form-group d-flex justify-content-center my-3">
    <a href="{% url 'accounts:login' %}" class="btn btn-sm btn-primary" type="submit">Back to login</a>
</div>
{% endblock %}