@media all and (max-width: 986px) {
  .sidebar {
    width: 0vw !important;
    min-width: 0 !important;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: width 0.1s ease-in-out;
  }
  .sidebar.active {
    width: 15em !important;
  }
  .main-page {
    flex-grow: 1;
    margin-left: 0;
  }
}
